.main {
  position: relative;

  &--stack-screens {

    & .central {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      z-index: 1;
      opacity: 0;
    }

    & .central:first-child {
      z-index: 2;
      opacity: 1;
    }
  }

  &--animate-screens {

    & .central:nth-child(1) {
      animation: fadeout 1s linear;
      animation-fill-mode: forwards;
    }

    & .central:nth-child(2) {
      animation: fadein 1s linear;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
